{% extends "arche/base.html" %}
{% load static %}
{% block title %} {{ object.title }} {% endblock %}
{% load django_tables2 %}
{% block content %}
<div class="container">
    <div class="card imprint">
        <div class="card-header">
            <h1 style="text-align: center;">
                {% if lang %}
                {% for x in object.hasTitle %}
                    {% if x.property__lang == lang %}
                    {{ x.property__value }}
                    {% endif %}
                {% endfor %}
                {% else %}
                {{ object.hasTitle }}
                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <p>
                {% for x in object.hasDescription %}
                    {% if x.property__lang == lang %}
                        {{ x.property__value }}
                    {% endif %}
                {% endfor %}
            </p>
           
            <ul>
                {% for key, value in object.items %}
                    
                <li>
                    {{ key }}
                    <ul>
                    {% for y in value %}
                        {% if y.property__object %}
                            {% for label in y.property__object %}
                            <li>
                                <a href="{{ label.arche_id }}">{{ label.label }} <small>{{label.label__lang}}</small></a>
                            </li>
                            {% endfor %}
                        {% else %}
                        <li>{{ y.property__value }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% if children %}
            <div class="card">
                <div class="card-header">
                    <h3>Children</h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        {% for key, item in children.items %}
                        <tr>
                                <td>
                                    <a href="{% url 'arche:top_col_detail' arche_id=key %}{% querystring %}">{{ key }}</a>
                                </td>
                                <td>
                                    {% for prop in item.hasTitle %}
                                        {{ prop.property__value }}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for prop in item.hasDescription %}
                                        {{ prop.property__value }}
                                    {% endfor %}
                                </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}